@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grape+Nuts&family=Laila&family=League+Gothic&display=swap');


.fundo-img{

    width: 100%;
    height: 100vh;
    position: relative;    
}

.titulo-principal{
    display: flex;
    position: absolute;
    top: 10%;
    font-size: 6.5rem;
    text-align: center;
    margin-left: 19.5%;
    font-family: 'League Gothic', sans-serif;
    background-color: rgba(230, 157, 68, 0.6);
    padding: 1.5%;
    border-radius: 1rem;
}

.botao{

    position: absolute;
    top: 60%;
    left: 39%;
    width: 20%;
    height: 5.4rem;
    background-color: rgba(230, 157, 68, 0.9);
    border-radius: 1rem;
    font-size: 3.4rem;
    font-family: 'League Gothic', sans-serif;
    text-align: center;
    border: solid 2px black;

    
}

.botao:hover{

    background-color: rgb(221, 134, 27);

}

