<section >

    
    <img src="assets/images/cedulas.jpg" alt="fundo" class="fundo-img">


        <h1 class="titulo">Converta aqui!</h1>

        <div class="convertores">
            
            <label for="valor-real-dollar">Real para Dollar</label>
            <input type="number" id="valor-real-dollar" placeholder="R$ XX.XX">
            <div class="resultado"></div>
            <button id="real-dollar"><img src="assets/images/41ShDVF6hpL.png" id="img-conversor-dollar"></button>

            <label for="valor-real-iene">Real para Iene</label>
            <input type="number" id="valor-real-iene" placeholder="R$ XX.XX">
            <div class="resultado-I"></div>
            <button id="real-iene"> <img src="assets/images/41ShDVF6hpL.png" id="img-conversor-dollar"></button>

            <label for="valor-real-euro">Real para Euro</label>
            <input type="number" id="valor-real-euro" placeholder="R$ XX.XX">
            <div class="resultado-E"></div>
            <button id="real-euro"><img src="assets/images/41ShDVF6hpL.png" id="img-conversor-dollar"></button>
            
            <label for="valor-real-libra">Real para Libra</label>
            <input type="number" id="valor-real-libra" placeholder="R$ XX.XX">
            <div class="resultado-L"></div>
            <button id="real-libra"> <img src="assets/images/41ShDVF6hpL.png" id="img-conversor-dollar"></button>

            <label for="valor-real-pesos-argentinos">Real para Pesos </label>
            <input type="number" id="valor-real-pesos" placeholder="R$ XX.XX">
            <div class="resultado-P"></div>
            <button id="real-peso"> <img src="assets/images/41ShDVF6hpL.png" id="img-conversor-dollar"></button>


        </div>










</section>
