@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grape+Nuts&family=Laila&family=League+Gothic&display=swap');


.fundo-img{

    width: 100%;
    height: 100rem;
    position: relative;    
}


.titulo{
    display: flex;
    position: absolute;
    top: 10%;
    font-size: 6.5rem;
    text-align: center;
    margin-left: 17.5%;
    font-family: 'League Gothic', sans-serif;
    background-color: rgba(230, 157, 68, 0.6);
    padding: 1.5%;
    border-radius: 1rem;
    width: 60%;
    text-align: center;
    padding-left: 15%;
}

.convertores{

    position: absolute;
    top:40%;
    margin-left: 10%;
    font-size: 3.5rem;;
    font-family: 'League Gothic', sans-serif;
    background-color: rgba(230, 157, 68, 0.6);
    width: 78%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 1rem;
    height: 150%;
    display: flex;
    flex-direction: column;
    padding-left: 8%;

}

input{
    margin-left: 1.5%;
    width: 30%;
    border-radius: 1rem;
}

.resultado{
    position: absolute;
    margin-left: 50%;
    top: 12%;
    background-color: white;
    width: 25%;
    border-radius: 1rem;
    border: 2px solid black;
    height: 5.5rem;
    padding-left: 2%;
    
    
}

.resultado-I{
    position: absolute;
    margin-left: 50%;
    top: 30.2%;
    background-color: white;
    width: 25%;
    border-radius: 1rem;
    border: 2px solid black;
    height: 5.5rem;
    padding-left: 2%;

}

.resultado-E{
    position: absolute;
    margin-left: 50%;
    top: 49.4%;
    background-color: white;
    width: 25%;
    border-radius: 1rem;
    border: 2px solid black;
    height: 5.5rem;
    padding-left: 2%;


}

.resultado-L{
    position: absolute;
    margin-left: 50%;
    top: 68.1%;
    background-color: white;
    width: 25%;
    border-radius: 1rem;
    border: 2px solid black;
    height: 5.5rem;
    padding-left: 2%;


}

.resultado-P{
    position: absolute;
    margin-left: 50%;
    top: 86.8%;
    background-color: white;
    width: 25%;
    border-radius: 1rem;
    border: 2px solid black;
    height: 5.5rem;
    padding-left: 2%;

}

#real-dollar{
position: absolute;
width: 10%;
height: 3.5rem;
margin-left: 34%;
margin-top: 11.7%;
background-color: rgba(000, 000, 000, 0);
border: none;



}

#real-iene{
    position: absolute;
    width: 10%;
    height: 3.5rem;
    margin-left: 34%;
    margin-top: 29.8%;
    background-color: rgba(000, 000, 000, 0);
    border: none;
}

#real-euro{
    position: absolute;
    width: 10%;
    height: 3.5rem;
    margin-left: 34%;
    margin-top: 49%;
    background-color: rgba(000, 000, 000, 0);
    border: none;
}

#real-libra{
    position: absolute;
    height: 3.5rem;
    margin-left: 34%;
    margin-top: 67.2%;
    background-color: rgba(000, 000, 000, 0);
    border: none;
    width: 10%;
}

#real-peso{
    position: absolute;
    height: 3.5rem;
    margin-left: 34%;
    margin-top: 85.3%;
    background-color: rgba(000, 000, 000, 0);
    border: none;
    width: 10%;
}

#img-conversor-dollar{

    position:absolute;
    width: 50%;
    top: -10%;
    right: 20%;

}

.gatinho{display: none;}

@media (min-width: 320px) and (max-width: 480px){

    .fundo-img{

        width: 250%;
        height: 120rem;
           
    }

    .titulo{

        width: 80%;
        right: 10%;
        font-size: 4.2rem;
        text-align: center;
        padding-right: 2%;
    }

    .convertores{

        top: 27%;
        font-size: 2.5rem;
        width: 100%;
        margin-left: 0;
    }

    .resultado{
        top:7%;
        height: 4.2rem;
        width: 35%;
        font-size: 2rem;
        padding-top: 1.5%;

    }


    .resultado-I{
        top:19.5%;
        height: 4.2rem;
        width: 35%;
        font-size: 2rem;
        padding-top: 1.5%;
    
    }
    
    .resultado-E{
        top:31.7%;
        height: 4.2rem;
        width: 35%;
        font-size: 2rem;
        padding-top: 1.5%;
    
    }
    
    .resultado-L{
  
        top:44.3%;
        height: 4.2rem;
        width: 35%;
        font-size: 2rem;
        padding-top: 1.5%;
    
    }
    
    .resultado-P{
        top:56.7%;
        height: 4.2rem;
        width: 35%;
        font-size: 2rem;
        padding-top: 1.5%;
    }

    #real-dollar{
        position: absolute;
        width: 20%;
        height: 3.5rem;
        margin-left: 29%;
        margin-top: 20.3%;
        background-color: rgba(000, 000, 000, 0);
        border: none;
        
        
        
        }
        
        #real-iene{
            position: absolute;
            width: 20%;
            height: 3.5rem;
            margin-left: 29%;
            margin-top: 53.8%;
            background-color: rgba(000, 000, 000, 0);
            border: none;
        }
        
        #real-euro{
            position: absolute;
            width: 20%;
            height: 3.5rem;
            margin-left: 29%;
            margin-top: 86%;
            background-color: rgba(000, 000, 000, 0);
            border: none;
        }
        
        #real-libra{
            position: absolute;
            height: 3.5rem;
            margin-left: 29%;
            margin-top: 117.2%;
            background-color: rgba(000, 000, 000, 0);
            border: none;
            width: 20%;
        }
        
        #real-peso{
            position: absolute;
            height: 3.5rem;
            margin-left: 29%;
            margin-top: 150.3%;
            background-color: rgba(000, 000, 000, 0);
            border: none;
            width: 20%;
        }
        
        #img-conversor-dollar{
        
            position:absolute;
            width: 50%;
            top: -10%;
            right: 20%;
        
        }

        .gatinho{
            display: block;
            width: 100%;
            position: absolute;
        }
    
}

